.about-statement{
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  color: #fff;
  font-size: 20px;

  h2{
    color: $color-main;
  }

  p{
    text-align: left;

    span{
      color: $color-main;
      font-weight: $font-weight-bold;
    }
  }

  .spray-painted-star{
    position: absolute;
    right: 10%;
    bottom: -50px;
    width:225px;
    z-index: 9;
  }
}

#philosophy{
  padding-bottom: 180px;
  background-image: url(images/camo-bg-large.jpg);
}

#vision{
  padding-bottom: 100px;
  background-image: url(images/dirty-wall-bg.jpg);
}

#jim-bio{
  padding-top: 40px;
  padding-bottom: 60px;

  h2{
    color: $color-alt;
  }

  .bio-img{
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $color-alt;

    p{
      margin-top:20px;
    }
  }
}

#contact{
  padding-top: 40px;
  padding-bottom: 100px;
  color: #fff;
  background-image: url(images/goggles-gun-bg);

  h2{
    text-align: center; 
    color: $color-main;
    margin-bottom: 40px;
  }
}

.contact-form{
  .form-control{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-main;
    font-size: 20px;
    border-radius: 0;
    color: #fff;

    &:focus{
      outline: none;
      box-shadow: none;
    }
  }

  textarea.form-control{
    background-color: #fff;
    color: #000;
    border-bottom: none;
    margin-top: 40px;
  }
}