#accordion{
  .card{
    border: none;
    background-color: transparent;
    margin-top: 25px;
  }

  .card-header{
    background-color: transparent;
    margin-bottom: 0;
    padding-bottom: 5px;
    position: relative;
  }

  .stylized{
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1em;

    .btn-faq{
      &:hover,
      &:focus{
        text-decoration: none;
      }

      &::after{
        content: "\2013";
        position: absolute;
        right: 0;
        top: 8px;
        font-family: $font-family-main;
      }

      &.collapsed::after{
        content: "\002b";
      }
    }
  }

  &.accordion-alt{
    .card-header{
      border-bottom: 3px solid $color-alt;
    }

    .stylized{
      .btn-faq{
        color: $color-alt;
      }
    }

    .card-body{
      color: #000;
    }

    strong{
      color: $color-alt;
    }
  }

  &.accordion-main{
    .card-header{
      border-bottom: 3px solid $color-main;
    }

    .stylized{
      .btn-faq{
        color: $color-main;
      }
    }

    .card-body{
      color: #fff;
    }

    strong{
      color: $color-main;
    }
  }
}