#welcome{
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 20px;
  line-height: 1.2em;

  .container-fluid,
  .container{
    position: relative;
    z-index: 5;
  }

  .shadow-battle{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-image: url(images/soldiers-bg-shadow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 3;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background-image: url(images/texture-white-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 5;
  }

  .welcome-header{
    text-align: center;
    background-image: url(images/target-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding-bottom: 25px;
    margin-bottom: 40px;

    h2{
      color: $color-alt;
      line-height: 1em;

      span{
        display: block;
        font-weight: $font-weight-bold;
        font-family: $font-family-main;
        text-transform: none;
      }
    }
  }

  h3{
    color: $color-alt;
  }

  article{
    margin-top: 25px;
  }
}

#duty-calls{
  text-align: center;
  padding-top:25px;
  padding-bottom:80px;
  background-size: contain;
  background-image: url(images/rifles-bg.png);

  h3{
    color: $color-alt;
  }
}

#video{
  padding-top: 40px;
  padding-bottom: 60px;

  h3.bordered-title{
    color: $color-main;
    border-color: $color-main;
  }
}

#events{
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: right;

  .col-lg-6{
    z-index: 5;
  }

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-image: url(images/texture-white-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: 5;
  }

  h2{
    color: $color-main;
  }
}

#waiver{
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: url(images/split-bg.jpg);

  .waiver-soldier{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 40%;
    max-width: 450px;
  }

  .waivers-content{
    z-index: 5;
    color: #fff;

    h3{
      color: $color-main;
    }
  }
  .videos-content{
    z-index: 5;
    text-align: center;

    .youtube-follow{
      display: block;
      position: relative;
      padding-top: 130px;
      color: #000;

      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 121px;
        width: 172px;
        background-image: url(images/sprites.png);
        background-repeat: no-repeat;
        background-position: -118px 0px;
      }
    }
  }
}

#travel-team{
  background-image: url(images/camo-bg.jpg);
  
  .travel-team-content{
    padding-top: 60px;
    padding-bottom: 100px;
    color: #fff;
    text-align: center;
  }

  .spray-painted-star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 100%;
    max-width: 325px;
  }

  @include media-breakpoint-down(sm){
    .spray-painted-star{
      position: relative;
      margin-bottom: -75px;
    }
  }
}

#safety{
  padding-top: 60px;
  padding-bottom: 190px;
}

#safety-carousel{
  z-index: 5;

  .caption{
    text-align: center;
    color: #fff;
    font-size: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    h3{
      color: $color-main;
    }
  }

  .carousel-indicators{
    bottom: -120px;

    li{
      border: none;
      background-color: transparent;
      height: 92px;
      width: 96px;
      position: relative;
      opacity: 1;

      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 34px;
        width: 34px;
        background-image: url(images/sprites.png);
        background-repeat: no-repeat;
        background-position: 0px -146px;
      }

      &.active::before,
      &.hover::before{
        height: 92px;
        width: 96px;
        background-position: 0px -49px;
      }
    }
  }
}